<div class="navbar">
	<div class="navbar-inner">
		<div class="container">

			<!-- Be sure to leave the brand out there if you want it shown -->
			<a class="brand" id="brand" href="/"><img src="{{ STATIC_URL }}img/logo.png"> LightFleet</a>

			<!-- Everything you want hidden at 940px or less, place within here -->
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
						Cars<b class="caret"></b></a>
						<ul class="dropdown-menu">
						{% for car in menuParams.cars %} 
							<li><a href="/car_history/{{car.id}}"><img src="{{ STATIC_URL }}img/{{car.icon}}.png" alt="some_text">{{car}}</a>
						{% endfor %}
						</ul>
					</li>
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Drivers<b class="caret"></b></a>
						<ul class="dropdown-menu">
						{% for driver in menuParams.drivers %} 
							<li><a href="/driver_history/{{driver.id}}">{{ driver }}</a>
						{% endfor %}
						</ul>
					</li>
					<li><a href="/alerts">Alerts</a></li>
					<li><a>  Settings  </a></li>
					<li><a href="/perimeter">  Perimeter  </a></li>
				</ul>
				<ul class="nav pull-right">
					<li><a>Logged in as <b>{{user}}</b></a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
			</div>

		</div>
	</div>
</div>

