{% extends "base_map_split.html" %}

{% block details %} 

<div class="row">
	<div class="span6" style="padding-left: 10px;">
		<h2>Triggered Alerts</h2>
	</div>
	<div class="span2 offset4">
	<a target="_blank" href="/alerts_report_printer"><img src="{{ STATIC_URL }}img/printer-icon.png"></a>
	<a target="_blank" href="/alerts_report_csv"><img src="{{ STATIC_URL }}img/csv-icon.png"></a>
	</div>
</div>

<p>Listed below are all the alerts that have been triggered.</p>
<form action="/alerts" method="post">{% csrf_token %}
<div id="gps-table">
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th></th>
			<th><i class="icon-check"></i></th>
			<th>Alert</th>
			<th>Driver</th>
			<th>Time</th>
		</tr>
	</thead>
	<tbody style="cursor: pointer;">
{% if alertsArrays %}
{% for alertGroup in alertsArrays %}
<tr onclick="onRowClick('{{ alertGroup.0.location_log.lat }}', '{{ alertGroup.0.location_log.long }}', '','');">
<td><div id="color-{{ forloop.counter }}">●</div></td>
<td> <input type="checkbox" name="alertCheckBox" value="{{ alertGroup.0.id }}"/></td>
<td>{{alertGroup.0.alert}}</td>
<td>{{alertGroup.0.location_log.driver}}</td>
<td>{{alertGroup.0.location_log.timestamp|date:"Y-m-d H:i"}}</td>
</tr>
{% endfor %}
{% else %}
<tr>
<td colspan="5"><div class="text-center">Nothing to show.</div></td>
</tr>
{% endif %}	
		</tbody>
	</table>
	</div>
	<input type="submit" value='Mark as read' class='btn'>	
  </form>	
{% endblock details %}

{% block extendedFunction %}
function extendedFunction()
{  
	var marker;
	{% if alertsArrays %}
		{% for alertGroup in alertsArrays %}
			{% for alertLog in alertGroup %}
				marker = createMarker(
				new google.maps.LatLng({{ alertLog.location_log.lat }},{{ alertLog.location_log.long }}),
				'{{ alertLog.location_log.timestamp }} <br> {{ alertLog.location_log.speed }} kph',
				'{{ alertLog.location_log.timestamp }}',
				"{{ STATIC_URL }}img/spot2.png",
				{{ forloop.counter }},{{forloop.parentloop.counter}}-1);
				markerArray[{{forloop.parentloop.counter}}-1][{{forloop.counter}}] = marker;
				latlngbounds.extend( marker.getPosition() );
			{% endfor %}
				AddLine({{ forloop.counter }}-1 , 0);//(lineNumber , reverse=false);
				var row = document.getElementById("color-{{ forloop.counter }}").style.color = lineColors[{{ forloop.counter }}-1];;
		{% endfor %}
				map.fitBounds( latlngbounds );
	{% endif %}

}
{% endblock extendedFunction%}							
