<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>·LightFleet·</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Le styles -->
        <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
		
		{% include 'headScripts.html' %}
		{% block extendedFunction %} function extendedFunction(){} {% endblock %}
		
		</script><!-- Close script tag from headScripts-->
	</head>
	<body  {% block body_params %}  {% endblock %}  >
		<div id="header">
			<div id="menu">
				{% include 'menu/menu.html' %}
			</div>
		</div>
		{% block content %}{% endblock %}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
		<script src="{{ STATIC_URL }}js/json2.js"></script>
	</body>

</html>
