{% extends "base.html" %}

{% block menuUnits %} 
	
	{% for menuUnit in units %} 
		<li><img src="{{ STATIC_URL }}img/{{menuUnit.icon}}.png" alt="some_text">
		<a href="/unit_route/{{menuUnit.id}}">{{menuUnit.name}}</a></li>
	{% endfor %}
{% endblock menuUnits%}

{% block content %}
<div id="map_canvas"> {% block map %} map_canvas {% endblock %}</div>
<div id="details"> {% block details %} details {% endblock %}</div>
{% endblock content %}

{% block head %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeIszTTR7abiVR8Xq3HiOEqv-3RyeNU1U&sensor=true" type="text/javascript">
    </script>

<script type="text/javascript">
 //<![CDATA[
   var markerArray = [];
   var latlngbounds = new google.maps.LatLngBounds();
   var map;
   function load()
   {

		var mapOptions = {
		  mapTypeId: google.maps.MapTypeId.ROADMAP
		  {% block mapOptions %}{% endblock  %}//Add options here only before block
		};
		map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

		function createMarker(point, text, title,icon_path, markerId)
		{
			var idx = markerId;
			var marker = new google.maps.Marker({
				position: point,
				map: map,
				title: title,
				clickable: true,
				icon: icon_path,
				//animation:google.maps.Animation.BOUNCE
				animation:google.maps.Animation.DROP
			});

			marker.info = new google.maps.InfoWindow({
				content: text
			});
			google.maps.event.addListener(marker, 'click', function() {
				for (var i in markerArray)
					markerArray[i].info.close(map, markerArray[i]);
				marker.info.open(map, marker);
			});
			var geocoder = new google.maps.Geocoder();
			geocoder.geocode({'latLng': point}, function(results, status) {
				if (status == google.maps.GeocoderStatus.OK)
				{
					if (results[0])
					{
						address = results[0].formatted_address;
						markerArray[idx].info.setContent(address+'<br>'+text);
					}
				}
				else
				{
					address = '';
				}
			});
			return marker;
		}
		{% block load_functions_call %}
		{% endblock load_functions_call %}

	}
	function changeView(lat, lng)
	{
		map.panTo(new google.maps.LatLng(lat,lng));
	}
	function hideMarker(markerId)
	{
		markerArray[markerId].setVisible(false);
		markerArray[markerId].info.close();
	}
	function unHideMarker(markerId)
	{
		markerArray[markerId].setVisible(true);
		markerArray[markerId].setAnimation(google.maps.Animation.DROP);
	}
	function openInfo(markerId)
	{
		for (var i in markerArray)
		{
			markerArray[i].info.close(map, markerArray[i]);
		}
		markerArray[markerId].info.open(map, markerArray[markerId]);
	}
	function AddLine()
	{
		var lineSymbol = {
			path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW};
		var borderPlanCoordinates = [];
		for (x in markerArray)
			borderPlanCoordinates.push(new google.maps.LatLng(markerArray[x].position.lat() , markerArray[x].position.lng()));
		var borderPath = new google.maps.Polyline({
		  path: borderPlanCoordinates,
		  strokeColor: "blue",
		  strokeOpacity: 1.0,
		  strokeWeight: 2,
		  icons: [{
			icon: lineSymbol,
			offset: '100%'
		  }],
		  map: map
		});
		borderPath.setMap(map);
	}
	//]]>
</script>
{% endblock %}

{% block body_params %}  onload="load()" {% endblock %}