<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeIszTTR7abiVR8Xq3HiOEqv-3RyeNU1U&sensor=true">
</script>

<script type="text/javascript">
   var markerArray = [];
   var latlngbounds = new google.maps.LatLngBounds();
   var map;
   var line = [];
   var lineColors = ["red", "purple", "aqua", "blue", "fuchsia", "gray", "green", "lime", "maroon", "navy", "olive", "orange", "silver", "teal", "white", "yellow"]
   function load()
   {
		for (var i=0 ; i < 100 ; i++){//100 number of lines
			markerArray[i] = new Array();
		}
				
		var mapOptions = {
		  mapTypeId: google.maps.MapTypeId.ROADMAP,
		  center: new google.maps.LatLng({{ map_center_lat }}, {{ map_center_long }}),
		  zoom: 15
		  {% block mapOptions %}{% endblock  %}//Add options here only before block
		};
		map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

		extendedFunction();

	}
	function createMarker(point, text, title,icon_path, markerId, lineId)
	{
		var markerIdx = markerId;
		var lineIdx = lineId;
		var marker = new google.maps.Marker({
			position: point,
			map: map,
			title: title,
			clickable: true,
			icon: icon_path,
			//animation:google.maps.Animation.BOUNCE
			animation:google.maps.Animation.DROP
		});

		marker.info = new google.maps.InfoWindow({
			content: text
		});
		google.maps.event.addListener(marker, 'click', function() {
			for (var i in markerArray)
				for (var j in markerArray[i])
					markerArray[i][j].info.close(map, markerArray[i][j]);
			marker.info.open(map, marker);
		});
		var geocoder = new google.maps.Geocoder();
		geocoder.geocode({'latLng': point}, function(results, status) {
			if (status == google.maps.GeocoderStatus.OK)
			{
				if (results[0])
				{
					address = results[0].formatted_address;
					markerArray[lineIdx][markerIdx].info.setContent(address+'<br>'+text);
				}
			}
			else
			{
				address = '';
			}
		});
		return marker;
	}
	function changeView(lat, lng)
	{
		map.panTo(new google.maps.LatLng(lat,lng));
	}
	function hideMarker(markerId, lineId)
	{
		markerArray[lineId][markerId].setVisible(false);
		markerArray[lineId][markerId].info.close();
	}
	function unHideMarker(markerId, lineId)
	{
		markerArray[lineId][markerId].setVisible(true);
		markerArray[lineId][markerId].setAnimation(google.maps.Animation.DROP);
	}
	function openInfo(markerId, lineId)
	{
		for (var i in markerArray)
		{
			for (var j in markerArray[i])
				markerArray[i][j].info.close(map, markerArray[i][j]);
		}
		markerArray[lineId][markerId].info.open(map, markerArray[lineId][markerId]);
	}
	function animateCircle(lineId) {
	    var count = 0;
	    offsetId = window.setInterval(function() {
	      count = (count + 1) % 200;

	      var icons = line[lineId].get('icons');
	      icons[0].offset = (count / 2) + '%';
	      line[lineId].set('icons', icons);
	  }, 20);
	}
	function AddLine(lineId, reverse)
	{
		var lineSymbol = {
			path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW};
		var borderPlanCoordinates = [];
		var tempArray = markerArray[lineId];
		for (var x in tempArray)
			borderPlanCoordinates.push(new google.maps.LatLng(tempArray[x].position.lat() , tempArray[x].position.lng()));
		if (reverse)
			borderPlanCoordinates.reverse();
		line[lineId]= new google.maps.Polyline({
		  path: borderPlanCoordinates,
		  strokeColor: lineColors[lineId],
		  strokeOpacity: 1.0,
		  strokeWeight: 2,
		  icons: [{
			icon: lineSymbol,
			offset: '100%'
		  }],
		  map: map,
		});
		line[lineId].setMap(map);
		animateCircle(lineId);
	}

	function showHide(HID,IMG) {
        if (document.getElementById(IMG).src.indexOf('expand') != -1) {
                document.getElementById(IMG).src='{{ STATIC_URL }}img/collapse.gif';
                document.getElementById(HID).className='visibleRow';
        } else {
                document.getElementById(IMG).src='{{ STATIC_URL }}img/expand.gif';
                document.getElementById(HID).className='hiddenRow';
        }
	}

	function showHideRows(RowsClass ,IMG)
	{
		function getElementsByClassName(classname, node)  {
			if(!node) node = document.getElementsByTagName("body")[0];
			var a = [];
			var re = new RegExp('\\b' + classname + '\\b');
			var els = node.getElementsByTagName("*");
			for(var i=0,j=els.length; i<j; i++)
				if(re.test(els[i].className))a.push(els[i]);
			return a;
		}
		
		var elements = new Array();
		elements = getElementsByClassName(RowsClass);

		for(i in elements ){
			if (elements[i].style.display == "none")
			{
				elements[i].style.display = "";
				IMG.src='{{ STATIC_URL }}img/collapse.gif';
			}
			else
			{
				elements[i].style.display = "none";
				IMG.src='{{ STATIC_URL }}img/expand.gif';
			}
		}
	}
	
	function Expand(node)
	{
	// Change the image (if there is an image)
		if (node.children.length > 0)
		{
			if (node.children.item(0).tagName == "IMG")
			{
				node.children.item(0).src = '{{ STATIC_URL }}img/collapse.gif';
			}
		}
		node.nextSibling.style.display = '';
	}
	 
	function Collapse(node)
	{
		// Change the image (if there is an image)
		if (node.children.length > 0)
		{
			if (node.children.item(0).tagName == "IMG")
			{
				node.children.item(0).src = '{{ STATIC_URL }}img/expand.gif';
			}
		}
		node.nextSibling.style.display = 'none';
	}
	 
	function Toggle(node)
	{
		// Unfold the branch if it isn't visible
		if (node.nextSibling.style.display == 'none')
		{
			Expand(node);
		}
		// Collapse the branch if it IS visible
		else
		{
			Collapse(node);
		}
	}
	
	function onRowClick(lat, lng, name, email, phone)
	{
		changeView(lat,lng);
		$("#driver").html('<dl class="dl-horizontal"><dt>Driver</dt><dd>' + name + '</dd><dt>Phone</dt><dd>' + phone + '</dd><dt>E-mail</dt><dd>' + email + '</dd></dl>');
	}
<!-- Do not close script tag, it's close in base.html -->
