<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
    </style>
    <script src="http://maps.google.com/maps?file=api&v=2&key=AIzaSyAeIszTTR7abiVR8Xq3HiOEqv-3RyeNU1U" type="text/javascript"></script>
    <script type="text/javascript">
         //<![CDATA[
           var map;
           function load() {
              if (GBrowserIsCompatible()) {
                map = new GMap2(
                document.getElementById("map_canvas"));
                map.addControl(new GSmallMapControl());
                map.setCenter(
                new GLatLng({{ map_center_lat }}, {{ map_center_long }}), 15);
                
                function createMarker(point, text, title) {
                  var marker =
                  new GMarker(point,{title:title});
                  GEvent.addListener(
                  marker, "click", function() {
                    marker.openInfoWindowHtml(text);
                  });
                  return marker;
                }
                
				{% if list_of_locations %}
					{% for line in list_of_locations %}
						var marker = createMarker(
						new GLatLng({{ line.lat }}, {{ line.long }}),
						'{{ line.timestamp }} <br> {{ line.speed }} kph',
						'{{ line.unit.name }}');
						map.addOverlay(marker);	
					{% endfor %}
				{% endif %}
              }
            }

            function changeView(lat, lng)
            {
                map.panTo(new GLatLng(lat,lng));
            }
            //]]>   

	  </script>
  </head>
  <body onload="load()" onunload="GUnload()" >
    <div id="map_canvas" style="width:60%; height:100%; float:left;"></div>
    <div style="width:40%; height:100%; float:right;">
        <div style="height:70%; float: top; background-color:#ffffa0; padding-top: 15px; padding-left: 15px;"> 
        
		<h2> {{ user.username }}'s Tracklings: </h2> 
		
		{% if list_of_locations %}
			<ul>
			{% for line in list_of_locations %}
				<li><a href=# onclick="changeView({{ line.lat }}, {{ line.long }})">{{ line.unit.name }}</a></li>
			{% endfor %}
			</ul>
		{% else %}
			<p>No units are available.</p>
		{% endif %}



        </div>
        <div style="height:30%; float: bottom; background-color:#ffffaf;">  </div>
    </div>
  </body>
</html>