{% extends "base_map_split.html" %}

{% block details %} 
	<h2> {{ user.first_name }}'s Tracklings: </h2> 
	{% if list_of_locations %}
		<ul>
		{% for line in list_of_locations %}
			<li>
			<input type = "checkbox" class = "unitCheckbox" id = "car{{forloop.counter}}" checked = "checked" />
			<script type = "text/javascript" src = "http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.1.min.js"></script>
			<script type="text/javascript">
				$("#car{{forloop.counter}}").live("click", function () {
					if ($("#car{{forloop.counter}}").is(":checked")) {
						unHideMarker({{ forloop.counter }});
					} else {
						hideMarker({{ forloop.counter }});
					}
				});
			</script>
			<img src="{{ STATIC_URL }}img/{{ line.car.icon }}.png" alt="some_text">
			<a href=# onclick="changeView({{ line.lat }}, {{ line.long }})">{{ line.car.primary_driver }} - {{ line.car.name }} </a>
			</li>
		{% endfor %}
		</ul>
	{% else %}
		<p>No locations are available for viewing.</p>
	{% endif %}


{% endblock details %}

<!-- Extended Function call on load -->
{% block extendedFunction %}
function extendedFunction(){ 
	{% if list_of_locations %}

		{% for line in list_of_locations %}
			var marker = createMarker(
			new google.maps.LatLng({{ line.lat }},{{ line.long }}),
			'{{ line.timestamp }} <br> {{ line.speed }} kph',
			'{{ line.car.name }}',
			"{{ STATIC_URL }}img/{{ line.car.icon }}.png",
			{{ forloop.counter }});
			markerArray[{{forloop.counter}}] = marker;
			latlngbounds.extend( marker.getPosition() );
		{% endfor %}
		map.fitBounds( latlngbounds );
	{% endif %}
}
{% endblock extendedFunction%}				
