

		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a>  Car History  </a>
					<ul>
					{% for car in cars %} 
						<li><a href="/unit_route/{{car.id}}"><img src="{{ STATIC_URL }}img/{{car.icon}}.png" alt="some_text">{{ car.primary_driver }} - {{car.name}}</a>
					{% endfor %}
					</ul>
				</li>
				<li><a>  Driver History  </a>
					<ul>
					{% for driver in drivers %} 
						<li><a>{{ driver }}</a>
					{% endfor %}
					</ul>
				</li>
				<li><a href="/units_alerts">Alerts</a></li>
				<li><a>  Settings  </a></li>
				<li><a href="/logout">Logout</a></li>
			</ul>
		</nav>
