{% extends "base_map_split.html" %}

{% block details %} 
	<h2> {{ user.first_name }}'s Alert History: 	</h2> 
	
	<label for="fromDate">From : </label><input id="fromDate" type="date" value="{{ fromDateStr }}"/><br>
	<label for="toDate">To&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </label><input id="toDate" type="date" value="{{ toDateStr }}"/><br>
	<button id="submitDate" onClick="submitDate_click()">Submit</button><br><br>
	<script type="text/javascript">
	function submitDate_click()
	{
		var fromDate = document.getElementById('fromDate');
		var toDate = document.getElementById('toDate');
		if((fromDate.value != "")&&(toDate.value != ""))
		{
			var fromDateVal = fromDate.value.toString();
			var toDateVal = toDate.value.toString();
			window.location = "/units_alerts/" + fromDateVal.replace(/-/g,'') + "/" + toDateVal.replace(/-/g,'');
		}
	}
	</script>
	
	{% if list_of_alert_locations %}
		<ul>
		{% for user_alerts in list_of_alert_locations %}
			<li>
			{% if user_alerts %}
			<img src="{{ STATIC_URL }}img/{{ user_alerts.0.location_log.car.icon }}.png">
			<a>{{ user_alerts.0.location_log.car.name }}</a><br>
			<select name="locations timestamps" size="5">
			{% endif %}
			{% for line in user_alerts %}
			<option onclick="openInfo({{line.location_log.id}});">{{ line.alert }} - {{ line.location_log.timestamp}}</option>

			{% endfor %}
			</select>
		{% endfor %}
		</ul>
	{% else %}
		<p>No history is available for viewing.</p>
	{% endif %}
	

{% endblock details %}

{% block load_functions_call %}  
	{% if list_of_alert_locations %}
		{% for user_alerts in list_of_alert_locations %}
			{% for line in user_alerts %}
				var marker = createMarker(
				new google.maps.LatLng({{ line.location_log.lat }},{{ line.location_log.long }}),
				'{{ line.location_log.timestamp }} <br> {{ line.location_log.speed }} kph <br>{{ line.alert }}',
				'{{ line.location_log.car.name }}',
				"{{ STATIC_URL }}img/alert.png",
				{{line.location_log.id}});
				markerArray[{{line.location_log.id}}] = marker;
				latlngbounds.extend( marker.getPosition() );
			{% endfor %}
			map.fitBounds( latlngbounds );
		{% endfor %}
	{% endif %}
{% endblock load_functions_call %}				

{% if not list_of_locations %}
	{% block mapOptions %}
		,
		center: new google.maps.LatLng({{ map_center_lat }}, {{ map_center_long }}),
		zoom: 15
	{% endblock mapOptions %}
{% endif %}