body{
	font-family: "sans-serif","Helvetica","Arial";
	height: 100%;
	margin: 0;
	padding: 0;
}
html { height: 100% }


#header {
 	height:5%;
	background-color:#FF0000;
}
#content {
	height:90%; 
	background-color:#00FF00;
}
#footer {
	height:5%;
	background-color:#0000FF;
}
