{% extends "base_map_split.html" %}
{% block span_size_left %}3{% endblock %}
{% block span_size_right %}9{% endblock %}
{% block details %} 
                    <div class="row">
                        <div class="span12" style="padding-left: 10px;">
                            <h2>Define Perimeter</h2>
                        </div>
                    </div>

                    <p>Mark the desired cars to set a perimeter for, draw some circles on the map and click 'Set'.</p>
                    <p>You can reset the circles by pressing 'Clear'.</p>
					<p>When setting a perimeter, the previous perimeter will be overridden.</p>
                    <form action="/perimeter" method="post"><div style='display:none'><input type='hidden' name='csrfmiddlewaretoken' value='XPRta2dWyDrw5FNW8uUp5GLJqUXsxJtU' /></div>
                        <div id="gps-table">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th><i class="icon-check"></i></th>
                                        <th>Car</th>
                                        <th>Primary Driver</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
									{% for carDriver in carsDrivers %} 
									<tr>
                                        <td> <input type="checkbox" class="cbCar" value="{{carDriver.car.id}}"/></td>
                                        <td>{{carDriver.car}}</td>
                                        <td>{{carDriver.driver}}</td>
                                        <td><input onClick="drawCarCircles({{carDriver.car.id}})" value='Get Circles' class='btn' type='button'></td>
                                    </tr>	
									{% endfor %}
                                    
                                </tbody>
                            </table>
                        </div>
                        <input  onClick="ajaxSetPerimeter()" value='Set Perimeter' class='btn' type='button'>	
                        <input onClick="clearCircles()" value='Clear Circles' class='btn' type='button'>	
                    </form>
					<div id='message' class='alert hidden'></div>
{% endblock details %}

<!-- Extended Function call on load -->
{% block extendedFunction %}



function getCirclesJSON(){
	var circlesCollection = [];
	for (var i in circles){
		circlesCollection.push({
			lat: circles[i].getCenter().lat(), 
			lng: circles[i].getCenter().lng(),
			rad: circles[i].getRadius()
			});
	}

	return circlesCollection;
}

function getSelectedCars(){
	arr=[]
	$('input:checkbox:checked').each( function() {
	arr.push($(this).val());});
	return arr;
}

function ajaxSetPerimeter(){
	var csrftoken = getCookie('csrftoken');
	var circlesJSON = getCirclesJSON();
	var selectedCars = getSelectedCars();
	var data = [selectedCars,circlesJSON];
	$.ajax({
		url:"set_perimeter",
		type: 'POST',
		data:JSON.stringify(data),
		
		success: function(data, textStatus, xhr) {
			$('#message').html(data);
			$('#message').show(1.5); 
		},
		error: function(xhr, textStatus, errorThrown) {
			$('#message').html('Connection error...');
			$('#message').show(1.5); 
        },
		
		beforeSend: function(xhr, settings){
			xhr.setRequestHeader("X-CSRFToken", csrftoken);
		}
	});
}

var carCircles =[];


function extendedFunction(){ 
	var drawingManager = new google.maps.drawing.DrawingManager({
			drawingMode: google.maps.drawing.OverlayType.CIRCLE,
			drawingControl: true,
			drawingControlOptions: {
				position: google.maps.ControlPosition.TOP_LEFT,
				drawingModes: [
					google.maps.drawing.OverlayType.CIRCLE,
				]
			},
			circleOptions: {
				fillColor: '#fff000',
				fillOpacity: 0.50,
				strokeWeight: 1,
				clickable: true,
				zIndex: 1,
				editable: true
			}
		});
	
	drawingManager.setMap(map);
	
	google.maps.event.addListener(drawingManager, 'circlecomplete', function(circle){
					circles.push(circle);
				});

		$('#message').hide();
		
		{% for carDriver in carsDrivers %} 
		    carCircles[{{carDriver.car.id}}]=[];
	       {% for circle in carDriver.circles %} 
		    var cOptions = {
                fillColor: '#fff000',
				fillOpacity: 0.50,
				strokeWeight: 1,
				clickable: true,
				zIndex: 1,
				editable: true,
                center: new google.maps.LatLng({{ circle.center_lat }}, {{ circle.center_long }}),
                radius: {{circle.radius}},
				visible: false
                };
                c = new google.maps.Circle(cOptions);
				c.setMap(map);
				carCircles[{{carDriver.car.id}}].push(c);
         {% endfor %}	
    {% endfor %}
}
function drawCarCircles(carId)
{
   clearCircles();
   for (i in carCircles[carId]){
      c = carCircles[carId][i];
      circles.push(c);
	  circles[i].setVisible(true);
	  
   }
}


{% endblock extendedFunction%}				
